@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  /*
  background-image: url(/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* Agrupamento*/
  background: var(--bg-url) no-repeat top center / cover;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
  margin: 56px auto 0px;
}


#profile {
  
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
 box-shadow: 1px 1px 15px 7px rgba(0,0,0,1);
  border-radius: 75px;
  animation: up-and-down 1s infinite alternate;}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
  
}

/*Switch*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 31px;
  height: 31px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
  transition: 0.3s;
}
#switch span {
  display: block;
  width: 62px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/*Links*/

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 8px;

  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--stroke-color);
  box-shadow: 6px 9px 9px -1px rgba(0,0,0,1);

  transition: background 0.3s;
}

/*Pseud-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.mini-skills{
  
  display: flex;
  justify-content: space-between;
  padding: 0 95px;
}
.logos-skills img{ 
  width: 25px;
}

#html{
  width: 30px;
}

#logo-bootstrap{
  width: 28px;
}


.mini-skills-sql{
  justify-content: center;
}

#Logo-SQL{
  width: 50px;
  justify-content: center;
}

.mini-skills-git{
  justify-content: center;
  display: flex;
}

#grid-ex{
  background-color: black;
  
}


#grid-ex p{
  color: #fff;
}
#logo-git{
  padding: 2px;
  width: 30px;
}
/*Links Sociais*/

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*ABOUT*/

/*Header*/

#header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  
}

#header p {
  margin-bottom: 0;
  font-size: 12px;
}

#logo-container {
  display: flex;
  justify-content: center;
  
}

#logo {
  width: 230px;
  margin-right: 10px
  
}

/*NAVBAR*/

#navbar {
  padding: 10px;
  margin: 10px auto;
}

#navbar a {
  
  text-decoration: none;
  font-size: 12px;
  width: 80px;
  color: #fff;
}

#navbar a:hover {
  color: rgb(231, 158, 231);
  transition: 0.3s;
}

/*MAIN BANNER*/

.main-banner {
  margin: 0;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 80px;
  position: relative;
  padding: 0 35px;
  height: 500px;
  box-shadow: 6px 9px 9px -1px rgba(0,0,0,1);
  border-radius: 8px;
}

.main-banner h2 {
   
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
}

.main-banner h2 img{
  animation: up-and-down-2 1s infinite alternate;
  width: 80px;
}

.main-banner p {
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  font-size: 20px;
  text-align: left;
  color: black;
}

.main-banner p a {
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  color: black;
}

/*Skills*/

.container-skills {
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.retangulos {
  height: 100%;
  width: auto;
  display: flex;
  margin: 12px;
}

.retangulos > details {
  width: 350px;
  text-align: center;
}

summary {
  color: #5c16c5;
  padding: 15px;
}

summary:hover {
  transition: 0.7s;
  color: antiquewhite;
}

details h2 {
  background: rgb(254, 255, 255);
  background: linear-gradient(
    40deg,
    rgba(254, 255, 255, 1) 36%,
    rgba(200, 177, 236, 1) 45%,
    rgba(226, 206, 255, 0.939) 81%
  );

  font-family: "Poppins", sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-weight: bold;
  line-height: 1.1;
}

details ul > li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/*Galeria Certificados*/

.row {
  visibility: hidden;
  
}

.container-img img {
  width: 100%;
  
 
}

#gallery-container h1 {
  text-align: center;
}
#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-12 {
  margin-bottom: 50px;
  padding: 0 24px;
}

.small-image-container {
  height: 250px;
  margin-bottom: 20px;
}

#projetos{

  padding: 45px;
  
 
}
#projetos a:hover{
  cursor: pointer;

}

#img5 img{
height: 361.453px;
}

#img6 img{
height: 361.453px;
}

.zoom{
  overflow: hidden;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 6px 9px 9px -1px rgba(0,0,0,1); 
}

.zoom img{
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}

.zoom:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

span p{
  text-align: center;
  padding-top: 10px;
  color: #fff;
}


/*Medias Queries*/
@media (max-width: 1000px) {
  .container-skills {
    font-size: 16px;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  #img6 img {
  height: 191px;
  }
}

@media (max-width: 1000px) {
  #img5 img {
   height: 191px;
  }
}

@media (max-width: 1000px) {
  .container-skills .retangulos {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .main-banner p {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-ligth.jpg);
  }
}


@media (max-width: 1000px){

  .main-banner h2 img {
    width: 40px;
  }

}
    

/*Animation*/

@keyframes animaborda {
  from {
    background-position: 0;
  }
  to {
    background-position: 300%;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}


@keyframes up-and-down{
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes up-and-down-2{
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateX(0);
    }
}